* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: #fff;
  height: 100%;
  min-height: 100vh;
}

:root {
  --color-white: #FFF;
  --color-orange: #FD7E14;
  --color-orange-light: #ff9036;
  --color-red: #DC3545;
  --color-blue: #17A2B8;
  --color-blue-light: #41a9b9;
  --color-green: #00A54F;
}

.bg-orange { background-color: var(--color-orange); }
.bg-green { background-color: var(--color-green); }
.bg-red { background-color: var(--color-red); }
.bg-blue { background-color: var(--color-blue); }

.color-orange { color: var(--color-orange); }
.color-green { color: var(--color-green); }
.color-red { color: var(--color-red); }
.color-blue { color: var(--color-blue); }
.color-white { color: var(--color-white); }

.bibliotech-badge {
  font-size: 14px;;
}

.btn-orange {
  background-color: var(--color-orange);
  color: var(--color-white);
  border-color: var(--color-orange); 
}

.btn-orange:hover, .btn-orange:focus {
  background-color: var(--color-orange-light);
  color: var(--color-white);
}

.btn-blue {
  background-color: var(--color-blue);
  color: var(--color-white);
  border-color: var(--color-blue); 
}

.btn-blue:hover {
  background-color: var(--color-blue-light);
  color: var(--color-white);
}

.obgr {
  color: var(--color-red);
}

.list-scroll {
  height: 400px;
  overflow-y: auto;
}

.accordion-button:not(.collapsed) {
  background-color: var(--color-white);
}

.screen-loader {
  width: 100%;
  height: 100vh;
  background-color: #BFAD83;
  padding: 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.progress-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.progress-task-name {
  width: 100%;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

.indentacaoPadrao {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.indentacaoPadrao-acoes {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.acervo-filtros-radio {
  width: auto;
}

.tabela tr {
  font-size: 14px;
}

.tabela td, .tabela th {
  vertical-align: middle;
  border: 1px solid #6C757D;
}

.tabela th {
  background-color: #CED4DA;
}

.tabela-acoes svg {
  font-size: 20px;
}

.tabela td {
  background-color: inherit;
}

.tabela tr:nth-child(even) {
  background-color: #E9ECEF;
}

.tabela tr:nth-child(odd) {
  background-color: #fff;
}

.tabela tr:hover {
  background-color: #ddd;
}

.navbar .container {
  margin-left: 0px;
}

.navbar-brand-bibliotech {
  font-weight: bold;
  font-size: 1rem;
  text-decoration: none;
  color: var(--color-white);

  padding: 4px 8px 4px 8px;
  margin-right: 8px;
  border-radius: 6px;
}

.navbar-nav .navbar-link {
  color: #ddd;
  font-weight: bold;
}

.navbar-nav .navbar-link.active {
  color: var(--color-white);
  text-decoration-line: underline;
}

.navbar-nav .navbar-link:hover {
  color: var(--color-white);
}

.navbar-nav-custom {
  display: flex;
  gap: 30px;
}

.alunos {
  display: flex;
  padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex: 1 0 0;
  align-self: stretch;
}

.alunos-acoes {
  display: flex;
  align-items: flex-start;
  gap: 16px;
  align-self: stretch;
}

.alunos-filtros-radio {
  width: auto;
}

.accordion-body-expanded {
  width: 100%;
  padding: 10px;
}

.Exemplar-acoes {
  width: 100%;
  align-items: flex-start;
  align-self: stretch;
}

.Exemplar {
  display: flex;
  flex-direction: column;
  padding: 16px;
  gap: 16px;
}

.custon-accordion-header-green .accordion-button {
  background-color: #D1E7DD !important;
  color: black !important;
}

.custon-accordion-header-green .accordion-button:not(.collapsed) {
  background-color: #D1E7DD !important;
  box-shadow: none !important;
}

.custon-accordion-header-red .accordion-button {
  background-color: #F8D7DA !important;
  color: black !important;
}

.custon-accordion-header-red .accordion-button:not(.collapsed) {
  background-color: #F8D7DA !important;
  box-shadow: none !important;
}

.custom-placeholder:invalid {
  color: #495057
}

.custom-variavel{
  color: #495057
}

.resizable-button {
  width: 230px;
  height: 40px;
  font-size: 16px;
  text-align: center;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  transition: padding 0.3s ease;
}

.no-border-radius-right {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.th-center-size-eight {
  width: 8%;
  text-align: center;
}

.th-size-ten {
  width: 10%;
}

.th-center-size-twelve {
  width: 12%;
  text-align: center;
}

.th-center-size-eighteen {
  width: 18%;
  text-align: center;
}

.th-center-size-fifteen {
  width: 15%;
  text-align: center;
}

.th-size-fifteen {
  width: 15%;
}

.th-size-twenty {
  width: 20%;
}

.Login{
  width: 100vw;
  height: 100vh;
  background-color: #D1E7DD;
}

.Login-acoes{
  background-color: #00A54F;
  color: white;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 27%;
  border-radius: 12px;
}

.Modais-Confirmacao-Custon{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 35%;
}

.Modais-VerEmprestimos-Custon{
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  width: 60%;
}